<%- include("partials/header") %>

    <%- include("partials/navbar") %>

        <h1>This is a Home Page.
            <%= 'Hello World'.toUpperCase() %>
        </h1>

        <div class="card" style="width: 18rem;">
            <img src="<%= product.img %> " class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">
                    <%= product.name %>
                </h5>

                <p class="card-text">
                    <%= product.description %>
                </p>
                <h5 class="card-title">
                    <%= product.price %>
                </h5>
                <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>

        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus iste excepturi eius est totam reprehenderit ducimus laboriosam provident? Eaque, amet. Id distinctio cumque itaque, similique necessitatibus quidem provident incidunt veritatis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus iste excepturi eius est totam reprehenderit ducimus laboriosam provident? Eaque, amet. Id distinctio cumque itaque, similique necessitatibus quidem provident incidunt veritatis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus iste excepturi eius est totam reprehenderit ducimus laboriosam provident? Eaque, amet. Id distinctio cumque itaque, similique necessitatibus quidem provident incidunt veritatis?</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Delectus iste excepturi eius est totam reprehenderit ducimus laboriosam provident? Eaque, amet. Id distinctio cumque itaque, similique necessitatibus quidem provident incidunt veritatis?</p>

        <%- include("partials/footer") %>